name: Chapters

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  release:
    types: [published]

jobs:

  chapter_01:

    name: Chapter 01
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:

      - name: checkout repo
        uses: actions/checkout@v3

      - name: setup rust
        uses: actions-rs/toolchain@v1
        with:
            toolchain: nightly
            override: true
            components: rustfmt, clippy, miri

      # `cargo check` command here will use installed `nightly`
      # as it is set as an "override" for current directory

      - name: check
        uses: actions-rs/cargo@v1
        with:
          command: check 
        run:
          working-directory: chapter-01
